{% extends "core.html" %}
{% load static %}

{% block home %}
<h1 class="text-center my-4">Registration Form</h1>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/registraction.css' %}">
</head>
<body>
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="field-wrapper">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="errorlist">{{ form.username.errors }}</ul>
            {% endif %}
        </div>

        <div class="field-wrapper">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <ul class="errorlist">{{ form.email.errors }}</ul>
            {% endif %}
        </div>

        <div class="field-wrapper">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <ul class="errorlist">{{ form.password1.errors }}</ul>
            {% endif %}
        </div>

        <div class="field-wrapper">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <ul class="errorlist">{{ form.password2.errors }}</ul>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a type="button" class="btn btn-primary" href="{% url 'login' %}">Login</a>
    </form>
</body>
</html>
{% endblock %}