{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/inspect_user.css' %}">
  <div class="container">
    <h2>Inspecting {{ user.username }}'s Profile</h2>
    
    <div class="card">
      <div class="profile-banner">
        <div class="profile-pic-container">
          {% if user.userprofile.profile_image %}
            <img src="{{ user.userprofile.profile_image.url }}" alt="Profile Image" />
          {% else %}
            <img src="{% static 'profile_images/default.jpg' %}" alt="Default Image" />
          {% endif %}
        </div>
      </div>

      <div class="card-body profile-info">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p class="username-handle">@{{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email|default:'None' }}</p>
        <p><strong>Location:</strong> {{ user.location|default:'None' }}</p>
        <p><strong>Bio:</strong> {{ user.userprofile.bio|default:'None' }}</p>
        <p><strong>Skills I Have:</strong> {{ user.userprofile.skills_i_have|default:'None' }}</p>
        <p><strong>Skills I Need:</strong> {{ user.userprofile.skills_i_need|default:'None' }}</p>
        <a href="{% url 'send_request' user.id %}">Connect</a><br>
        <a href="{% url 'profilerate' username=user.username %}">View Rating and Feedback</a>
        



        <div>
          {% with link=user.userprofile.social_account_link %}
            {% if link %}
              {% if 'http' in link %}
                <a href="{{ link }}" target="_blank">View Social Profile</a>
              {% else %}
                <a href="https://{{ link }}" target="_blank">View Social Profile</a>
              {% endif %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
